<h4>Dictionary Name: <%= @dictionary.name %></h4>

<h3>Dictionary Words</h3>

<% if @dictionary.words %>
<ul>
  <% @dictionary.words.each do |word| %>
  <li><a href="/dictionarys/<%= @dictionary.id %>/words/<%= word.id %>"><%= word.name %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no words listed for this dictionary yet.</p>
<% end %>

<h4>Add a word:</h4>

<form action="/dictionarys/<%= @dictionary.id %>/words" method="post">
  <div class="form-group">
    <label for="word_name">Word name</label>
    <input id="word_name" name="word_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add word</button>
</form>


<p><a href="/dictionarys/<%= @dictionary.id %>/edit">Edit dictionary</a></p>
<a href="/dictionarys">Return to dictionary list</a>
